* {
  padding: 0;
  margin: 0;
}

body {
  background-color: yellow;
  background-color: blue;
}

.test {
  background-color: yellow;
  width: 80vw;
  height: 20vh;
  margin-top: 20;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */