* {
    padding: 0;
    margin: 0;
}

$colors: (
    primary: blue,
    secondary: green,
);

$mycolor: yellow;

body {
    background-color: $mycolor;
    background-color: map-get($colors, primary );
}

.test {
    background-color: $mycolor;
    width: 80vw;
    height: 20vh;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}